@model StudyBuddy.Core.Entities.Subject

<h1>Додати предмет</h1>
<form method="post">
    <div class="mb-3">
        <label class="form-label">Назва</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label class="form-label">URL Іконки</label>
        <input type="text" class="form-control" asp-for="Icon">
    </div>
    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>
