@inherits LayoutComponentBase

<div class="sidebar">
    <NavLink href="/">Головна</NavLink>
    <NavLink href="/subjects">Предмети</NavLink>
    <NavLink href="/tasks">Завдання</NavLink>
</div>

<div class="content">
    <Body />
</div>
